body {
  background: url(images.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color:rgba(255,255,255,0.7);
  width: 800px;
  color:black;
  margin: 20px auto;
  padding:15px;
  }

hr {
  width: 25%;
  border-top: 3px double #8c8b8b; 
}

img {
  width: 200px;
  display: block;
  border-radius: 50%;
  border-color:white;
  margin-right:30px"
}

td, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

