body {
  background: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color: #333;
  color: black;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

@media screen and (min-width: 1428px) {

}

@media screen and (min-width:767px) and (max-width:1023px) {

}

@media screen and (max-width:767px) {

}



@media (min-width: 420px) {
  .container {
    background-color: #fff;
    color: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    .container {
      background-color: #333;
      color: #ffffff;

    }
  }
}

h1 {
  text-align: center;
  margin-top: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.info {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

p {
  margin: 10px 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 20px;
}

li {
  margin: 5px 0;
}